{% extends '../base/base_template.html' %}


{% block extra_head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style_add.css' %}">
{% endblock %}
{% block content %}
{% if user.is_authenticated %}

    <div class="wrap">
        <h1 class="page-title">Dodaj obraz</h1>
        <br><br>
        {% if submitted %}
            Pomyślnie dodano zdjęcie!
        {% else %}
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {{ form.as_p }}

                <input type="submit" class="form-submit" value="Dodaj"></input>
            </form>
        {% endif %}
    </div>
{% else %}
    <div class="logged-out">
        <h1>Zaloguj się aby dodać zdjęcie</h1>
    </div>
{% endif %}
{% endblock %}