{% extends '../base/base_template.html' %}



{% block extra_head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style_details.css' %}">
{% endblock %}
{% block content %}
        <div class="element-img">
            <img src="{{ image.photo.url }}" alt="krajobraz">
        </div>
        <div class="element-description">
            <h1>{{ image.title }}</h1>
            <div>{{ image.description }}</div>
                {% if user.is_authenticated %}
                    {% if liked %}
                    <a class="like-button full" href="{% url 'gallery:unlike_image' image.id %}"></a>
                    {% else %}
                    <a class="like-button empty" href="{% url 'gallery:like_image' image.id %}"></a>
                    {% endif %}
                {% else %}
                <a class="like-button empty" href="{% url 'gallery:signin' %}"></a>
                {% endif %}
                <p class="image-popularity">{{ image.popularity }}</p>
        </div>
{% endblock %}