{% extends '../base/base_template.html' %}


{% block extra_head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style_content.css' %}">
{% endblock %}
{% block content %}
    {% if images_list %}
    <h1 class="page-title">Strona główna</h1>
        {% for image in images_list %}
            <a href="{% url 'gallery:details' image.pk %}">
                <div class="element" id="{{ image.title }}">
                    <img class="item" src="{{ image.photo.url }}" alt="krajobraz">
                </div>
            </a>
        {% endfor %}
    {% endif %}
{% endblock %}