{% extends '../base/base_template.html' %}

{% block extra_head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style_content.css' %}">
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
    {% if images_list %}
    <h1 class="page-title">Ulubione zdjęcia</h1>
        {% for image in images_list %}
            <a href="{% url 'gallery:details' image.id %}">
                <div class="element" id="{{ image.title }}">
                    <img class="item" src="{{ image.photo.url }}" alt="krajobraz">
                </div>
            </a>
        {% endfor %}
    {% endif %}
{% else %}
    <div>
        <h1>Zaloguj się aby przeglądać ulubione zdjęcia</h1>
    </div>
{% endif %}
{% endblock %}