{% extends '../base/base_template.html' %}

{% block extra_head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style_content.css' %}">
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
    {% if my_images_list %}
    <h1 class="page-title">Moje zdjęcia</h1>
        {% for my_image in my_images_list %}
            <a href="{% url 'gallery:details' my_image.id %}">
                <div class="element" id="{{ my_image.title }}">
                    <img class="item" src="{{ my_image.photo.url }}" alt="krajobraz">
                </div>
            </a>
        {% endfor %}
    {% endif %}
{% else %}
    <div>
        <h1>Zaloguj się aby przeglądać dodane przez siebie zdjęcia</h1>
    </div>
{% endif %}
{% endblock %}