{% extends '../base/base_login.html' %}


{% block content %}
    {% csrf_token %}
    {{ form }}
    <button type="submit" id="signupButton" name="signupButton">Zarejestruj</button>
    <a href="{% url 'gallery:signin' %}">Masz już konto?</a>
    {% if form.errors %}
    <p>Błąd</p>
    {% endif %}
{% endblock %}
