{% extends '../base/base_login.html' %}


{% block content %}
    <input type="text" placeholder="Login" id="login" name="login"/>
    <input type="password" placeholder="Hasło" id="password" name="password"/>
    <button type="submit" id="loginButton" name="loginButton">Zaloguj</button>
    <a href="#">Nie pamiętasz hasła?</a>
    <a href="{% url 'gallery:signup' %}">Stwórz konto</a>
{% endblock %}
