<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria zdjęć - logowanie</title>
    {% load static %}
    {% load gallery_extras %}
    <link rel="stylesheet" href="{% static 'css/style_login.css' %}">
</head>
<body>
    <div class="bg-lines"></div>
    <main>
        <section class="white-box">
            <header>
                <h1>Galeria zdjęć</h1>
            </header>
            <form action="" method="POST">
                {% csrf_token %}
                {% block content %}
                {% endblock %}
            </form>
        </section>
    </main>
</body>
</html>
