<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria zdjęć</title>
    {% load static %}
    {% load gallery_extras %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script defer src="{% static 'scripts/navbar.js' %}"></script>
    {% block extra_head %}{% endblock %}
</head>
<body>
    <header id="navbar">
        <a href="{% url 'gallery:index'%}" class="navbar-elem home">Galeria zdjęć</a>
        <ol class="navbar-list">
            <li><a class="navbar-elem" href="{% url 'gallery:liked' %}">Ulubione</a></li>
            <li><a class="navbar-elem" href="{% url 'gallery:add' %}">Dodaj</a></li>
            <li><a class="navbar-elem" href="{% url 'gallery:my_images' %}">Moje zdjęcia</a></li>
        </ol>
        <nav>
            <ol class="navbar-list">
                {% if user.is_authenticated %}
                <li class="navbar-button"><a href="{% url 'gallery:signout' %}">Wyloguj</a></li>
                {% else %}
                <li class="navbar-button"><a href="{% url 'gallery:signin' %}">Zaloguj się</a></li>
                <li class="navbar-button"><a href="{% url 'gallery:signup' %}">Zarejestruj się</a></li>
            </ol>
            {% endif %}
        </nav>
    </header>

    <div class="container">
        
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>