.form-submit{
    text-decoration: none;
    font-size: 1rem;
    display: block;
    color: white;
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    background-color: #2daa2dff;
    transition: .5s;
    border: none;
    float: right;
    cursor: pointer;
}

.form-submit:hover{
    background-color: rgb(56, 133, 56);
}

.container{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto .5fr;
    margin: 2rem auto;
}

.wrap{
    width: 40rem;
    grid-column: 2;
    grid-row: 1;
}

.logged-out{
    width: 40rem;
    grid-column: 2;
    grid-row: 1;
    text-align: center;
}

textarea{
    resize: vertical;
    height: 8rem;
    max-height: 15rem;
    min-height: 3rem;
}

.form-input{
    width: 100%;
    padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;
    color: #24292e;
    vertical-align: middle;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    outline: none;
    box-shadow: rgba(225, 228, 232, 0.2) 0px 1px 0px 0px inset;  
    transition: .3s;
}

.form-input:focus{
    background-color: #dddddd;
    border: 1px solid rgb(150, 150, 150);
}