.element{
    position: relative;
    height: 20rem;
    width: 35rem;
    border-radius: 2rem;
    box-shadow: 3px 3px 5px lightgrey;
    cursor: pointer;
}

.element img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.element[id]::before{
    content: attr(id);
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    margin-top: -100px;
    opacity: 0;
    transition: .3s;
    transition-delay: .2s;
    z-index: 1;
}

.element::after{
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 1rem;
    height: 0;
    background-color: rgba(0, 0, 0, .4);
    transition: .3s;
}

.element:hover::after{
    height: 100%;
}

.element:hover::before{
    margin-top: 0;
    opacity: 1;
}