body{
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr auto;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    grid-row: 1;
    background-color: rgb(68, 62, 62);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    height: 5rem;
    z-index: 9999
}

.navbar-elem{
    color: white;
    text-decoration: none;
    display: block;
    padding: 1rem .6rem;
    margin: 0;
}

.navbar-elem:hover{
    color: #2daa2dff;
}

.navbar-elem.home{
    font-size: 2rem;
    padding: 2rem;
}

.navbar-elem.home:hover{
    color: white;
    background-color: rgb(102, 95, 95);
}

.navbar-button{
    font-size: 2rem;
}

.navbar-button:hover{
    color: white;
}

.navbar-list li{
    display: block;
    list-style-type: none;
    overflow: hidden;
    display: inline-block;
    font-size: 1.2rem;
    padding: 0 .6rem;
}

li>a{
    font-weight: bold;
}

.navbar-button>a{
    text-decoration: none;
    font-size: 1rem;
    display: block;
    color: white;
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    background-color: #2daa2dff;
    transition: .5s;
}

.navbar-button>a:hover{
    background-color: rgb(56, 133, 56);
}

.page-title{
    font-weight: bold;
    font-size: 3rem;
    width: 100%;
    text-align: center;
    background-clip: text;
    background: -webkit-linear-gradient(150deg, #333 50%, #eee 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
  

.container{
    grid-row: 2;
    margin: 2rem auto;
    width: 100%;
    display: flex; 
    flex-flow: wrap;
    gap: 1rem;
    justify-content: center;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .container{
    padding-top: 5rem;
}
