.container{
    display: grid;
    width: 100%;
    margin: 5rem auto;
    grid-template-columns: .1fr 2fr 1fr .1fr;
    grid-template-rows: .1fr 1fr;
    height: 65vh;
}
  

.element-img{
    grid-column: 2;
    grid-row: 2;
}

.element-img > img{
    border-radius: 1rem;
    width: 60rem;
    height: 40rem;
}

.element-description{
    grid-column: 3;
    grid-row: 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: .1fr 1fr;

}

.element-description > h1{
    grid-column: 1;
    grid-row: 1;
}

.element-description > div{
    grid-column: 1;
    grid-row: 2;
}

.like-button.empty{
    background-image: url('../images/empty-heart.png');
}

.like-button.full{
    background-image: url('../images/full-heart.png');
}

.like-button{
    grid-column: 2;
    margin: auto;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 2px solid #2daa2dff;
    background-color: transparent;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    cursor: pointer;
    transition: background-image 0.3s ease;
}

.like-button:hover{
    background-image: url('../images/full-heart.png');
}

.image-popularity{
    text-align: center;
    margin: 0;
    color: #2daa2dff;
    font-size: 1.5rem;
    font-weight: bold;
}