body{
    margin: 0;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto 1fr;
    background: rgb(0,0,0);
    background: linear-gradient(47deg, rgba(0,0,0,1) 0%, rgba(40,144,40,1) 0%, rgba(232,232,232,1) 100%);
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

main{
    grid-column: 2;
    grid-row: 2;
}

.bg-lines{
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url("../images/bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.white-box{
    text-align: center;
    width: 100%;
    font-size: 2rem;
    background-color: white;
    padding-block: 1rem;
    border-radius: 5px;
}

.white-box>h1{
    font-size: 3rem;
}

.white-box form{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
    margin-block: 1rem;
}

input{
    width: 28rem;
    background-color: #dddddd;
    border: none;
    border-radius: 5px;
    margin-inline: 2rem;
    padding: .9rem;
    transition: .4s;
    font-size: 1.2rem;
}

input:focus{
    background-color: #cccccc;
}

button{
    width: 15rem;
    padding: 1rem;
    background-color: #2daa2dff;
    color: white;
    transition: .5s;
    border: none;
    border-radius: 5px;
    margin-inline: .5rem;
    cursor: pointer;
    font-size: 1.2rem;
}

button:hover{
    background-color: rgb(56, 133, 56);
}

a{
    color: black;
    font-size: 1.3rem;
    margin-block: -.5rem;
    transition: .2s;
}

a:hover{
    color: rgb(90, 90, 90);
}
